################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebAPI
/packages
/WebAPI/bin
/WebAPI/obj/Debug
